<!DOCTYPE html>
<html>
	
  <head>
   	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Menu| MyMerit</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/ps-icon/style.css">
    <!-- CSS Library-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
	<style>
	 .zui-table{ background-color:white;
		font-size: 100%;	
		
	 }
	 table th{
		font-weight: bold;
	 }
	 
	</style>
	
  </head>
  <body  style="background-image: url('images/bg.jpg')">
  	 <nav class="navbar navbar-inverse">
    <div style="background:#4682BF !important;" class="container-fluid">
      <div class="navbar-header">
        <a style="color:black;font-size:25px"class="navbar-brand" href="../manageuser/">Welcome to MyMerit</a>
      </div>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="" style="color:black;font-size:15px"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>

 </ul>

  </div>
</nav>

 </ul>
</body>
</html>
      
